.user {
    flex: 4;
    margin: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userTitle {
    font-size: 24px;
}

.userAddBtn {
    border: none;
    background-color: #b7e3b2;
    color: #fff;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.userContainer {
    display: flex;
    margin-top: 20px;

}

.userShow {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 4px 0 #0000005e;
    border-radius: 5px;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    box-shadow: 0 0 4px 0 #0000005e;
    margin-left: 20px;
    border-radius: 5px;

}

.userShowTop {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.userShowTopUsername {
    font-weight: 600;
}
.userShowTopTitle{
    font-weight: 300;
    color: #bbb;
}
.userShowBottomTitle{
    display: inline-block;
    margin-bottom: 20px;
    color: #bbb;
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.userShowIcon{
    font-size: 16px !important;
    margin-right: 7px;
    display: inline-block;
    color: #757575;
}

.userUpdateTitle{
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 20px;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
}
.userUpdateUpload{
    text-align: center;
}
.userUpdateItem>label{
    margin-bottom: 10px;
}
.userUpdateItem>input{
    border: none;
    border-bottom: 1px solid #c6c6c6;
    width: 240px;
    margin-bottom: 5px;
    padding: 10px 5px;
}
.userUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.userUploadBtn{
    display: flex;
    align-items: center;
    border: none;
    background-color: #8db4e9;
    padding: 7px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.userUploadIcon{
    margin-right: 10px;
}