.user {
    flex: 4;
    margin: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userTitle {
    font-size: 24px;
}

.userAddBtn {
    border: none;
    background-color: #b7e3b2;
    color: #fff;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.userContainer {
    display: flex;
    margin-top: 20px;

}

.userShow {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 4px 0 #0000005e;
    border-radius: 5px;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    box-shadow: 0 0 4px 0 #0000005e;
    margin-left: 20px;
    border-radius: 5px;

}

.userShowTop {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.userShowTopUsername {
    font-weight: 600;
}
.userShowTopTitle{
    font-weight: 300;
    color: #bbb;
}
.userShowBottomTitle{
    display: inline-block;
    margin-bottom: 20px;
    color: #bbb;
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.userShowIcon{
    font-size: 16px !important;
    margin-right: 7px;
    display: inline-block;
    color: #757575;
}